src/main/java/com/example/webinformationsystem/reference/dtd/order.dtd

<?xml version="1.0" encoding="UTF-8" ?>
        <!ELEMENT orders (order*)>

        <!ELEMENT order (id, customer, date, price)>
        <!ELEMENT id (#PCDATA)>
        <!ELEMENT customer EMPTY>
        <!ATTLIST student
                id CDATA #REQUIRED
                name CDATA #REQUIRED
                phoneNumber CDATA #REQUIRED
                address CDATA #REQUIRED
                >
        <!ELEMENT date (#PCDATA)>
        <!ELEMENT price (#PCDATA)>
